@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media only screen and (max-width: 992px) {
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  }

  .modal {
    background-color: #fff;
    width: 87%;
    height: auto;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    border-radius: 10px;
    transition: all 1s ease;
    padding-bottom: 10px;
  }

  .modal-header-container {
    width: 97%;
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
  }

  .modal-title-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .modal-title {
    margin: 10px;
    font-size: 2rem;
  }

  .modal-header-icon {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .fas.fa-times {
    font-size: 1.3rem;
    margin: 10px;
    opacity: 0.6;
    cursor: pointer;
  }

  .modal-subtitle-container {
    width: 97%;
  }

  .modal-mark {
    display: flex;
    gap: 0.5rem;
    margin: 0 10px 0 10px;
    align-self: center;
    opacity: 0.6;
  }

  .modal-skills li {
    list-style: none;
  }

  .modal-mark li:nth-child(1) {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
  }

  .modal-mark li:nth-child(2) {
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 2px;
  }

  .modal-mark li:nth-child(3) {
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 2px;
  }

  .modal-description-container {
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 59px;
  }

  .modal-description {
    width: 97%;
    text-align: start;
    margin: 0 10px 0 10px;
    letter-spacing: 0.5px;
    font-size: 0.95rem;
    opacity: 0.7;
  }

  .modal-skills-container {
    display: flex;
    gap: 1rem;
    margin: 10px 0 20px 10px;
    flex-direction: column;
  }

  .modal-skills-container::after {
    content: "";
    display: block;
    background-color: #ebecf0;
    width: 97%;
    height: 1px;
    margin: 20px 5px 0 5px;
  }

  .modal-skills {
    display: flex;
    gap: 0.25rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .modal-skills li p {
    text-decoration: none;
    font-size: 0.85rem;
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    color: #6070ff;
  }

  .modal-buttons-container {
    display: flex;
    width: 97%;
    justify-content: center;
    align-content: center;
  }

  .modal-btn {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #6070ff;
    margin: 5px;
    border-radius: 8px;
    max-width: 200px;
    transition: background-color 500ms ease;
  }

  .modal-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .modal-btn:hover :nth-child(1) {
    color: #fff;
  }

  .modal-btn:hover :nth-child(2) {
    color: #fff;
  }

  .modal-btn a {
    text-decoration: none;
    color: #6070ff;
  }

  .fas.fa-external-link-alt {
    color: #6070ff;
  }

  .fab.fa-github {
    color: #6070ff;
  }

  .modal-close {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
  }

  .modal {
    background-color: #fff;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: all 1s ease;
    overflow: hidden;
    padding-bottom: 20px;
  }

  .modal-header-container {
    width: 97%;
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
  }

  .modal-title {
    margin: 10px;
    font-size: 2rem;
  }

  .modal-title-container {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .modal-header-icon {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  .fas.fa-times {
    font-size: 1.3rem;
    margin: 10px;
    opacity: 0.6;
    cursor: pointer;
  }

  .modal-subtitle-container {
    width: 97%;
    margin-left: 20px;
  }

  .modal-mark {
    display: flex;
    gap: 0.5rem;
    margin: 0 10px 0 10px;
    align-self: center;
    opacity: 0.6;
  }

  .modal-skills li {
    list-style: none;
  }

  .modal-mark li:nth-child(1) {
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
  }

  .modal-mark li:nth-child(2) {
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 2px;
  }

  .modal-mark li:nth-child(3) {
    font-size: 0.9rem;
    opacity: 0.7;
    padding-top: 2px;
  }

  .modal-img {
    width: 98%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 10px 10px 0 10px;
  }

  .modal-img img {
    width: 100%;
    margin: 10px;
  }

  .container {
    display: flex;
    width: 100%;
  }

  .modal-description-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 40px;
  }

  .modal-description {
    text-align: start;
    margin: 0 10px 0 10px;
    font-size: 0.9rem;
    opacity: 0.7;
  }

  .modal-skills-container {
    width: 30%;
    gap: 1rem;
    margin: 10px 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-skills {
    display: flex;
    gap: 0.25rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .modal-skills li p {
    text-decoration: none;
    font-size: 0.85rem;
    padding: 4px 12px;
    background-color: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    color: #6070ff;
  }

  .modal-buttons-container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-content: center;
  }

  .modal-btn {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #6070ff;
    margin: 5px;
    border-radius: 8px;
    padding: 7px 4px;
    max-width: 200px;
    transition: background-color 500ms ease;
    font-size: 0.9rem;
  }

  .modal-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .modal-btn:hover :nth-child(1) {
    color: #fff;
  }

  .modal-btn:hover :nth-child(2) {
    color: #fff;
  }

  .modal-btn a {
    text-decoration: none;
    color: #6070ff;
  }

  .fas.fa-external-link-alt {
    color: #6070ff;
  }

  .fab.fa-github {
    color: #6070ff;
  }

  .modal-close {
    display: none;
  }

  .fa-circle {
    background: #c1c7d0;
  }
}
