
@media only screen and (max-width: 400px) {
  .menu-links {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #line {
    display: none;
  }

  .menu-top {
    height: 100%;
    padding: 10px 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }

  .menu-item {
    display: flex;
    width: 100%;
    margin-right: 100px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
  }

  .menu-links {
    list-style: none;
    margin: 0 10px;
    color: #344563;
    transition: color 250ms ease;
  }

  .menu-links:hover {
    color: #6070ff;
  }

  .main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 210px 300px;
  }

  .mainn {
    width: 470px;
    height: 170px;
    display: flex;
    justify-content: start;
    margin: 5px;
  }

  .title {
    font-style: normal;
    font-size: 40px;
    line-height: 52px;
    padding: 8px;
  }

  .description-item {
    font-size: 20px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: justify;
  }

  .link-item {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
  }

  .link {
    color: #7f8cff;
  }

  .work-projects {
    border-radius: 25px;
    display: flex;
    margin: 50px 150px 100px 150px;
    padding: 10px;
    transition: box-shadow 450ms ease-in-out;
    transition: transform 350ms ease-in;
  }

  .work-projects:hover {
    box-shadow: 0 0 0 3px #6070ff, 3px 3px 6px rgb(85, 84, 84);
    transform: translateY(-20px);
  }

  .work-projects-b {
    border-radius: 25px;
    display: flex;
    margin: 50px 150px 100px 150px;
    padding: 10px;
    height: 550px;
    flex-direction: row-reverse;
    transition: box-shadow 450ms ease-in-out, transform 350ms ease-in;
  }

  .work-projects-b:hover {
    box-shadow: 0 0 0 2px #6070ff, 3px 3px 6px rgb(85, 84, 84);
    transform: translateY(-20px);
  }

  .card-content {
    flex-grow: 1;
    height: 100%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    height: 100%;
  }

  .description-title {
    padding: 12px;
    font-size: 36px;
  }

  .description-item-b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #344563;
    letter-spacing: 0;
  }

  .project-article-container {
    margin-top: 40px;
  }

  .about-project {
    display: flex;
  }

  .about-items-a {
    flex-grow: 1;
    width: 50%;
  }

  .about-items-b {
    flex-grow: 1;
    width: 50%;
    justify-content: flex-start;
    margin: 50px 100px 0 0;
  }

  .about-description-conatiner {
    width: 100%;
  }

  .skill-container {
    margin: 40px 0;
  }

  .code-items {
    display: flex;
    flex-direction: row;
  }

  .code-template {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .code {
    width: 200px;
    height: 150px;
  }

  .contact-container {
    background-size: auto;
  }

  .contact-description-container {
    display: flex;
    justify-content: center;
  }

  .contact-description {
    width: 33%;
    text-align: center;
  }

  .form-container {
    display: flex;
    justify-content: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .contact-form {
    width: 25%;
  }
}
